<h1>Chemical Inventories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th>CAS</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @chemicals.each do |chemical| %>
  <tr>
    <td><%= chemical.name %></td>
    <td><%= chemical.amount %></td>
    <td>
      <% if chemical.cas.to_s != '' %>
	  	<%= link_to chemical.cas, chemical.cas_link %>
		  <% end %>
    </td>
    <td><%= link_to 'Show', chemical %></td>
    <td><%= link_to 'Edit', edit_chemical_path(chemical) %></td>
    <td><%= link_to 'Remove', chemical, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Chemical', new_chemical_path %>
