<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @chemical.name %>
</p>

<p>
  <b>Amount:</b>
  <%= @chemical.calculate_actual_amount %>
</p>

<p>
  <b>CAS:</b>
  <%= @chemical.cas %>
</p>

<p>
  <b>Forecast Run Out Date:</b>
  <%= @chemical.calculate_ran_out_date %>
</p>

<h2>One Time Uses:</h2>
<table>
	<tr>
    <th>Chemist</td>
    <th>Amount</td>
    <th>Record Time</td>
  </tr>
<% @chemical.uses.each do |use| %>
  <tr>
    <td><%= use.chemist %></td>
    <td><%= use.amount %></td>
    <td><%= use.created_at.to_date %></td>
  </tr>
<% end %>
</table>

<h2>Recurring Uses:</h2>
<table>
	<tr>
    <th>Chemist</td>
    <th>Amount</td>
    <th>Periodicity</td>
	  <th>End date</td>
  </tr>
<% @chemical.recurring_uses.each do |recurring_use| %>
  <tr>
    <td><%= recurring_use.chemist %></td>
    <td><%= recurring_use.amount %></td>
    <td><%= recurring_use.periodicity %></td>
    <td><%= recurring_use.end_date %></td>
  </tr>
<% end %>
</table>

<h2>One Time Use:</h2>
<%= form_for([@chemical, @chemical.uses.build]) do |f| %>
  <div class="field">
    <%= f.label :chemist %><br />
    <%= f.text_field :chemist %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.number_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<h2>Recurring Use:</h2>
<%= form_for([@chemical, @chemical.recurring_uses.build]) do |f| %>
  <div class="field">
    <%= f.label :chemist %><br />
    <%= f.text_field :chemist %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%=f.label :periodicity%><br />
		<%=f.select :periodicity, [['Daily', 'daily'],['Weekly', 'weekly']]%>
	</div>
	<div class="field">
    <%= f.label :end_date, "End date (YYYY-MM-DD)" %><br />
    <%= f.text_field :end_date %>
	</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_chemical_path(@chemical) %> |
<%= link_to 'Back', chemicals_path %>
