<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @chemical.name %>
</p>

<p>
  <b>Amount:</b>
  <%= @chemical.amount %>
</p>

<p>
  <b>CAS:</b>
  <%= @chemical.cas %>
</p>

<h2>Uses:</h2>
<table>
	<tr>
    <th>Chemist</td>
    <th>Amount</td>
    <th>Record Time</td>
  </tr>
<% @chemical.uses.each do |use| %>
  <tr>
    <td><%= use.chemist %></td>
    <td><%= use.amount %></td>
    <td><%= use.created_at.to_date %></td>
  </tr>
<% end %>
</table>

<h2>Use chemical:</h2>
<%= form_for([@chemical, @chemical.uses.build]) do |f| %>
  <div class="field">
    <%= f.label :chemist %><br />
    <%= f.text_field :chemist %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.number_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_chemical_path(@chemical) %> |
<%= link_to 'Back', chemicals_path %>
